body {
  font-family: "Lato", serif;
  margin: 0;
  padding: 0;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  color: #000000;
}

.top-row {
  background-color: #ffffff;
  border-bottom: 8px solid #999999;
  padding-top: 96px;
  padding-bottom: 64px;
  padding-left: 264px;
 
}

.heading {
  font-weight: 800;
  font-size: 32px;
  line-height: 38.4px;
}

.bottom-row {
  background-color: #666666;
  padding-top: 72px;
  padding-bottom: 66px;
}

.small-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.inline-text {
  color: #009966;
  font-weight: 800;
}

.banner {
  background-color: #FFBF00;
  border-bottom: 8px solid #CC9900;
  padding: 16px 32px;
  position: absolute;
  top: 8px;
  left: -8px;
}
.banner-tag-text {
  font-weight: 800;
  font-size: 24px;
  line-height: 28.8px;
 
}

.banner-wrapper {
  width: 808px;
  background-color: #ffffff;
  padding: 24px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  column-gap: 16px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.banner-text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .top-row{
    padding-left: 24px;
  }

  .banner {
    left: 0;
  }

  .banner-wrapper {
    width: auto;
  }

  .small-text {
    letter-spacing: -0.5%;
  }
}



@media (max-width: 390px) {
  .banner {
    right: 24px;
  }

  .banner-wrapper {
    padding-top: 150px;
  }
}