body {
    padding: 0;
    font-family: "Lato", serif;
  }
  
  .signup-form-wrapper {
    padding: 80px 140px;
    background-color: rgba(46, 196, 182, 0.04);
    height: 840px;
    display: flex;
    column-gap: 120px;
  }
  
  .signup-text-wrapper {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    padding-top: 124px;
  }
  
  .signup-text-content {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
  }
  
  .signup-sub-heading {
    width: 460px;
    color: rgba(115, 115, 115, 1);
    line-height: 25px;
  }
  
  .signup-form {
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: fit-content;
  }
  
  .form-group {
    display: flex;
    column-gap: 24px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    flex: 1;
  }
  
  .input-group label {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
  }
  
  .input-group input {
    padding: 14px 16px;
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 2px;
    flex: 1;
    color: rgba(115, 115, 115, 1);
  }
  
  .input-group input:focus {
    border: 3px solid rgba(46, 196, 182, 1);
  }
  
  .input-group select {
    padding: 14px 16px;
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 2px;
    flex: 1;
    color: rgba(115, 115, 115, 1);
  }
  
  #submit {
    background-color: rgba(46, 196, 182, 1);
    color: #fff;
  }
  
  .input-group select:focus {
    border: 3px solid rgba(46, 196, 182, 1);
  }
  
  .submit-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  
  .terms {
    font-size: 14px;
    line-height: 25px;
  }
  
  .terms span {
    font-weight: 500;
    color: rgba(46, 196, 182, 1);
    text-decoration: underline;
  }
  
  @media (max-width: 375px) {
    .signup-form-wrapper {
      flex-direction: column;
      row-gap: 40px;
      padding: 74px 24px;
    }
  
    .form-group {
      flex-direction: column;
      row-gap: 24px;
    }
  
    .signup-sub-heading {
      width: auto;
    }
  
    .signup-text-wrapper {
      padding-top: 0px;
    }
  
    .signup-form {
      padding: 16px 30px;
      padding-top: 24px;
    }
  
    .terms {
      font-size: 14px;
      line-height: 25px;
    }
  }
  